@import "tailwindcss";@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@125,200..900&family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";


@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-cardo: 'Cardo', serif;
  --font-italic: italic
}

body {
  background: linear-gradient(to right, hsl(220, 14%, 86%), hsl(216, 12%, 74%), hsl(220, 14%, 86%));
}